body {
    padding-left: 200px;
    
    padding-right: 200px;
}

h1{
    text-align: center;
}

#content-box {
    background-color: greenyellow;
}

.chapter-name {
    font-weight: bold;
}

#current{
    color: red;
}

#content-box .horizontal-lists {
    color: blue;
}

